@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MYRIADPRO-BOLD.OTF");
    font-weight: bold;
}
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MYRIADPRO-SEMIBOLD.OTF");
    font-weight: 600;
}
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff7146;
}

li {
    list-style: none;
}

.clear:after {
    content: '';
    clear: both;
    display: block;
}

body {
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/*header*/

header {
    background: linear-gradient(#30414f, #2a353e);
    text-align: center;
    border-top: 1px solid #000;
}

.logo,
.menu {
    width: 100%;
}

.logo {
    font-size: 1.25rem;
    color: #f5faff;
    font-weight: 600;
    line-height: 3.375rem;
    display: inline-block;
}

.menu > ul {
    display: inline-block;
    text-align: center;
}

.menu > ul > li {
    display: inline;
}

.menu > ul > li > a {
    color: #fff;
    line-height: 3.375rem;
    padding: 0 21px;
    font-weight: 600;
    font-size: 0.875rem;
}

.menu > ul > li > a:hover {
    color: #ff7146;
}

/*end header*/

/*welcome*/

.welcome {
    background: #fff;
    text-align: center;
    border-top: 2px solid #242729;
}

.welcome_left {
    padding: 34px 0 30px;
}

.welcome_right {
    padding: 0 0 30px;
}

.welcome_left p {
    color: #798284;
    font-size: 1.25rem;
    line-height: 2.125rem;
}

.welcome_left p span {
    color: #2b3842;
    font-weight: bold;
}

.btn {
    line-height: 2.125rem;
    padding: 8px 20px;
    margin: 0 8px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px #d4d4d4;
    font-size: 0.875rem;
    font-weight: bold;
}

.btn:hover {
    background: linear-gradient(#eeefff, #ececec);
    border: 1px solid #d4d4d4;
}

.btn_download {
    background: linear-gradient(#c9dd54, #89b10d);
    color: #fffffe;
    border: 1px solid #81aa08;
}

.btn_learn {
    background: linear-gradient(#ffffff, #ececec);
    color: #727272;
    border: 1px solid #d4d4d4;
}

.btn_view_project {
    background: linear-gradient(#5f95bb, #294a64);
    color: #fffffe;
    border: 1px solid #1a68a3;
}

/*end welcome*/

/*slider*/

.slider {
    background: linear-gradient(#e9f4f7, #f1f8fa);
    border-top: 2px solid #daecf1;
}

.slider .wrapper {
    display: flex;
    flex-flow: column;
}

.slider .slider_img {
    order: 1;
    margin: 0 auto;
    padding: 30px 0 20px;
}

.slider .slider_img img {
    max-width: 100%;
    height: auto;
}

.slider .slider_description {
    order: 2;
}

.slider_description h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #2d495e;
    text-align: center;
}

.slider_description h4 {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #75a6cb;
    text-align: center;
}

.slider_description p {
    font-size: 0.8125rem;
    color: #2d495e;
    font-family: Arial, sans-serif;
}

.slider_description p a {
    color: #3a6585;
    text-decoration: underline;
}

.slider_description ul li {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8125rem;
    color: #1c2f3d;
    line-height: 1.5rem;
}

.slider_description ul li i {
    margin-right: 18px;
}

.slider_button {
    padding: 30px 0 18px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #e9f4f7;
}

/*end slider*/

/*content_three*/

.content_three {
    margin: 3px 0;
    border-top: 2px solid #daecf1;
    background: #e9f4f7;
}

.content_three .col-4 {
    padding: 10px 0 10px 80px;
    position: relative;
}

.content_three .number {
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    color: #294356;
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 2px 2px #d4d4d4;
}

.content_three .col-4 .description {
    min-height: 60px;
}
.content_three .col-4 .description h4{
    font-weight: bold;
    font-size: 1.0625rem;
    color: #294356;

}
.content_three .col-4 .description p{
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    color: #636d75;
}
/*end content_three*/

/*about_company*/

.about_company {
    padding: 10px 0;
    border-top: 1px solid #eff7f9;
    border-bottom: 1px solid #dcedf2;
}

.about_us h3, .features h3 {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #294356;
}

.about1, .about2 {
    font-family: Arial, sans-serif;
    color: #586369;
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
}

.about2 {
    text-indent: 20px;
}

.about_more {
    text-align: center;
    padding: 10px 0;
}

.btn_learn1 {
    background: linear-gradient(#f9fdff, #f6fafa);
    color: #727272;
    border: 1px solid #d4d4d4;
}


.feature {
    position: relative;
}

.feature > div {
    padding: 10px 0;
}

.feature h4 {
    font-size: 1rem;
    color: #395c77;
}

.feature_img {
    position: absolute;
    left: 0;
}

.feature_text {
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    color: #4b5258;
    padding-left: 60px;
    min-height: 44px;
}

/*end about_company*/

/*footer*/
.footer_p1 {
    background: linear-gradient(#30414f, #2b3740);
    border-bottom: 1px solid #151b20;
}

.wrapper .col-3 h3 {
    padding: 20px 0 5px;
    color: #e3f7ff;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.wrapper .col-3 > ul > li {
    text-align: center;
}

.wrapper .col-3 > ul > li > a {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    color: #869da7;
}

.wrapper .col-3 > ul > li > a:hover {
    color: #ff7146;
}

.social li {
    display: inline-block;
}

.social li a {
    display: inline-block;
    padding: 10px 7px;
}


.social li a img{
    height: 23px;
    width: 23px;
}


.footer_p2 {
    background: linear-gradient(#161c21, #161b20);
    border-top: 1px solid #2b3035;
    border-bottom: 1px solid #2a353e;
    font-family: Arial, sans-serif;
    color: #76939c;
    font-size: 0.6875rem;
    text-align: center;
}

.footer_p2 .policy a {
    text-decoration: underline;
    color: #76939c;
    line-height: 40px;
}

.copyright p{
    line-height: 40px;
}
/*end footer*/
