$bpm-html-font-size : 15px;
$bpm-font-family: Roboto, Calibri, Arial, sans-serif;
$bpm-color-highlight : #db0303;
$default-color_item-icon : #7b7878;

$bpm-header-bg : #231f1f;
$bpm-main-bg: #f7f7f7;
$bpm-text-color-666: #666;
$bpm-text-color-999: #999;
$bpm-border-color-e5: #e5e5e5;
$bpm-footer-bg-top : #151515;
$bpm-footer-bg-bottom : #333;







