.bpm-footer {
  &-logo {
    background: $bpm-footer-bg-top;

    &-left {
      text-align: center;
      padding: 20px 0 10px;
      img {
        max-width: 100%;
      }
      @include media-breakpoint-up(md) {
        text-align: left;
        padding: 20px 0 10px;
      }
    }
    &-right {
      padding: 10px 0 20px;
      text-align: center;
      p {
        color: #fff;
        @include font-size(11);
        margin: 0;
      }
      img {
        max-width: 100%;
        padding: 10px 0;
        @include media-breakpoint-up(md) {
          padding-left: 20px;
        }
      }

      @include media-breakpoint-up(md) {
        text-align: right;
        padding: 20px 0 10px;
      }
    }

  }

  &-ref {
    background: $bpm-footer-bg-bottom;
    padding: 15px 0;

    .bpm-footer-widget {
      h4 {
        @include font-size(20);
        color: #fff;
        margin: 0;
        padding: 10px 0;
        font-weight: 400;
      }
    }

    .bpm-widget-ul {
      a {
        padding: 5px 0;
        color: #fff;
        font-weight: 300;
        color: #858585;
      }
      a:hover {
        text-decoration: none;
        color: $bpm-color-highlight;
      }
    }
    .bpm-widget-socials {
      li {
        display: inline-block;
        a {
          display: block;
          img {
            padding: 5px 0;
          }
        }
      }
    }
  }

  &-copy {
    background: #333;
    border-top: 2px solid #3d3d3d;
    text-align: center;
    font-weight: 300;

    .bpm-copy-bpm {
      color: #fff;
    }

    .bpm-copy-site {
      a {
        padding: 0 10px;
        color: #fff;
        &:hover {
          color: $bpm-color-highlight;
          text-decoration: none;
        }
      }
    }
  }

  &-copy1 {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
  }
}