.bpm-slidebar {

  .nav-item {
    a {
      color: #666;
      @include font-size(17);
      line-height: 45px;
      background-color: #fbfbfb;
      color: #ccc;
      padding: 0 15px;
      width: 110px;
    }
    a.active {
      background-color: $bpm-main-bg;
      color: #666;
      border: none;
      &:before {
        content: '';
        display: block;
        border-top: 1px solid $bpm-color-highlight;
        border-bottom: 2px solid $bpm-color-highlight;
      }
    }
  }

  &-tab-content {
    border-radius: 5px;
    background: #fff;
    border: none;

    &-padding {
      padding: 20px;
    }

    &-search {
      position: relative;
      border-bottom: 1px solid #f2f2f2;
      padding: 20px;
      &-input {
        width: 100%;
        line-height: 40px;
        height: 40px;
        color: #999;
        padding: 12px;
      }
      &-btn {
        position: absolute;
        right: 32px;
        top: 32px;
        color: #eaeaea;
      }
    }

    &-chapters {
      padding: 0 20px 20px 20px;
      .bpm-slidebar-chapter {
        &-title {
          padding-left: 20px;
          padding-top: 15px;
          @include font-size(17);
          color: #333;
          position: relative;
          &:before {
            content: '>';
            padding-right: 12px;
            color: #ccc;
            position: absolute;
            left: 0;
          }
        }
        &-videos{
          padding-left: 20px;
        }
      }
    }

  }
}





























