.bpm-main-content {
  &-play {
    position: relative;
    height: 100%;
    &-img {
      width: 100%;
      height: auto;
    }
    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 99;
      transform: translate(-50%, -50%);
      max-height: 30%;
      max-width: 30%;
    }
  }

  &-tab {
    padding: 5px 0;
    &-list {
      background: #fff;
      padding-top: 5px;
      .nav-item {
        padding-left: 20px;
        .nav-link {
          @include font-size(17);
          padding: 15px 5px;
          border: none;
          display: block;
          height: 100%;
          position: relative;
          color: #999;
          &.active {
            color: #666;
            &:after {
              content: '';
              display: block;
              width: 100%;
              border: 1px solid $bpm-color-highlight;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }

    &-content {

    }
  }
}