@font-face {
  font-family: "Myriad Pro";
  src: url("../../fonts/MYRIADPRO-BOLD.OTF");
  font-weight: bold;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../../fonts/MYRIADPRO-SEMIBOLD.OTF");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../../fonts/MYRIADPRO-REGULAR.OTF");
  font-weight: normal;
}
